.genre-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
  }
.genre {
    padding: 4px 8px;
    font-size: 12px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 1px 3px rgba(244, 229, 229, 0.694);
  }
  
  .genre:hover {
    background-color: #990000;
    box-shadow: 0px 2px 5px rgb(255, 255, 255);
    transform: translateY(-1px);
  }

  .genre.selected {
    /* Styles for selected genre */
    background-color: white;
    color: red;
  }

  /* Media Queries */

/* For screens smaller than 768px */
@media (max-width: 767px) {
  .genre-list {
    justify-content: center;
  }
}

/* For screens smaller than 576px */
@media (max-width: 575px) {
  .genre-list {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .genre {
    margin-bottom: 10px;
  }
}

