.login-form {
    position: relative;
    text-align: right;
  }
  
  button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .login-form h2 {
    color: black;
  }
  
  .login-form p {
    color: black;
  }
  
  .login-form form {
    margin-top: 20px;
  }
  
  .login-form input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
  }
  
  .login-form button[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  