.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: scroll;
}

.modal-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 60%;
  max-height: 80%;
  margin: auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.modal img {
  max-width: 100%;
  max-height: 60%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.modal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.modal-info h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.modal-info p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s;
}

.modal-close:hover {
  transform: scale(1.2);
}

.modal-info button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #0077ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 1rem;
}

.modal-info button:hover {
  background-color: #0066cc;
}

.return {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.return:hover {
  background-color: #c0392b;
}

.
/* Media Queries */

/* For screens smaller than 576px */
@media (max-width: 575px) {
  .modal {
    max-width: 90%;
    max-height: 90%;
    padding: 1rem;
  }

  .modal img {
    max-height: 50%;
    margin-bottom: 0.5rem;
  }

  .modal-info h2 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
  }

  .modal-info p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .modal-info button {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    margin-top: 0.5rem;
  }
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
  .modal {
    max-width: 90%;
    max-height: 90%;
    padding: 1rem;
  }

  .modal img {
    max-height: 40%;
    margin-bottom: 0.5rem;
  }

  .modal-info h2 {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
  }

  .modal-info p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .modal-info button {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    margin-top: 0.5rem;
  }
}