.movie-card {
  position: relative;
  display: inline-block;
  margin: 50px;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.movie-card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.movie-card img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.movie-card .movie-info {
  padding: 10px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}

.movie-card .movie-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie-card .movie-info span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}
