nav {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

img {
  width: 200px; /* set the width to 50 pixels */
  height: 200px; /* set the height to 50 pixels */
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #383838;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.search-bar input[type="text"] {
  width: 15rem;
  padding: 0.3rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}

.search-bar button {
  margin-left: 0.5rem;
  font-size: 1rem;
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1rem;
}

.user-name {
  margin-left: 0.5rem;
}

.login, .logout {
  margin-right: 0.5rem;
}

.login button, .logout button {
  background-color: #E50914;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login button:hover, .logout button:hover {
  background-color: #FF3E54;
}
