
body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f2f2f2;
  overflow-x: hidden;
}


.container {
  margin-top: 80px;
}
.no-results {
  margin-left: 450px; 
  text-align: center;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px dashed #999;
  padding: 25px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modal-content {
  background-color: #fff;
  padding: 20px;
  width: 60%;
  position: relative;
}

.modal .modal-content h3 {
  font-size: 32px;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.logo a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  text-shadow: 0 0 5px red;
}

.logo a:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #f00;
  mix-blend-mode: screen;
  filter: blur(20px);
  opacity: 0.8;
  z-index: -1;
  transition: opacity 0.3s ease-out;
}

.logo a:hover:before {
  opacity: 1;
}

